

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap');

/* Paste the provided spinner CSS code here */
.spinner {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
  }
  
  .cube1, .cube2 {
    background-color: #333;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 1.8s infinite ease-in-out;
  }
  
  .cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  @-webkit-keyframes sk-cubemove {
    25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
    50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
    75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
    100% { -webkit-transform: rotate(-360deg) }
  }
  
  @keyframes sk-cubemove {
    25% { 
      transform: translateX(42px) rotate(-90deg) scale(0.5);
      -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    } 50% { 
      transform: translateX(42px) translateY(42px) rotate(-179deg);
      -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    } 50.1% { 
      transform: translateX(42px) translateY(42px) rotate(-180deg);
      -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    } 75% { 
      transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
      -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    } 100% { 
      transform: rotate(-360deg);
      -webkit-transform: rotate(-360deg);
    }
  }
  /* Apply the animation to the text */
.animation-text p {
  opacity: 0; /* Initially set text opacity to 0 */
  animation: fadeInText 1.5s forwards; /* Animation duration and timing */
}

/* Define the animation keyframes */
@keyframes fadeInText {
  from {
    opacity: 0; /* Start with opacity 0 */
    transform: translateY(10px); /* Move text slightly upward */
  }
  to {
    opacity: 1; /* End with full opacity */
    transform: translateY(0); /* Return to original position */
  }
}

  
*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    opacity: 0; 
    animation: fadeInText 0.5s forwards;
    height: 100%;
    width: 100%; 
}

a{
    text-decoration: none;
    
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
}
.navlinks{
    display: flex;
    justify-content: center;
    gap: 4rem;
    text-decoration: none;
    list-style: none;
    font-size: 1.2rem;
    margin-top: 1rem;
    
}
.logo{
    margin-left: 4rem;
    font-size: 1.3rem;
    padding-top: 0.5rem;
    font-family: 'Oswald';
}
.hire{
    padding:  1rem 2rem;
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
    background-color:#141414 ;
    border: 4px 0.1rem #2B2B2B;
    border-radius: 2rem;
    cursor: pointer;
    color: rgb(241, 241, 241);
}
.hire a{
    color: #080808;
}
.hire:hover{
    color: #fff;
    background-color: #2B2B2B;
    transition: all 0.3s ease-in-out;
}
.hire a:hover{
    color: white;
}
.link a{
    position: relative;
    padding-bottom: 0.3rem;
    color: #000;
    
}
.link a:hover{
    color: #727272;
}
.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #636363;
    transition: all 0.3s ease;
    
}
.link a:hover::after{
    width: 100%;
}

header {
    display: grid;
    justify-content: center;
    margin: auto;
    align-items: center;
    height: 80vh;
    width: 100%;
    gap: 2rem;
    position: relative;
    grid-template-columns: repeat(2,1fr);

}
.profile img{
    height: 400px;
    max-width: 600px;
    border-radius: 50%;
    position: relative;
}
.profile{
    max-width: 1200px;
    margin: auto;
    height :35rem;
    padding: 5rem 2rem;
    display: flex;
}
span .blur{
    position: absolute;
    box-shadow: 0 0 1000px 50px #000000;
    z-index: 100;
}
.profile-p3{
    width:40vw;
    font-size: 0.9rem;
    font-weight:400;
    padding-top: 1.1rem;
    padding-bottom: 1rem;

}
.profile-text{
    justify-content: center;
    align-items: center;
}
.profile-p1,.profile-p2{
    font-size: 2rem;
    color:#636363;
}
.title{
    font-size: 3rem;
    color: #080808;
}
.icon-resume{
    display: flex;
    
    align-items: center;
    gap: 1rem;
   
}
.icons{
    
    display: flex;
    gap: 0.8rem;
    background-color: #ffffff;
    border: 2px #000 solid ;
    padding: 10px 30px;
    border-radius: 2rem;
}
.icons a img{
    display: flex;
    justify-content: center;
    gap: 2rem;
    height: 2rem;
    opacity: 0; 
    animation: fadeInImage 1.5s forwards; 
   
}
@keyframes fadeInImage {
    from {
      opacity: 0; /* Start with opacity 0 */
      transform: scale(1.1); /* Slightly increase image size */
    }
    to {
      opacity: 1; /* End with full opacity */
      transform: scale(1); /* Return to original size */
    }
  }
  
.btn-2 {
    border: 2px #000 solid ;
    padding: 12px 20px;
    border-radius: 2rem;
    cursor: pointer;
    background-color: #fff;
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-2 img{
    height: 1.5rem;

}
.text{
    font-weight: 600;
}


section .header{
  margin-top: 5rem;
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 600;
}
.skills{
  margin-top: 5rem;
  display:flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  
  
}

.skills .card{
    padding: 0 1rem;
    height: 23rem;
    width: 16rem;
    background-color: #ffffff;
    transition: all 0.3s ease;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0, 0,0.3);
    display: inline-block;
    text-align: center;
    justify-content: space-around;
    border: 2px solid transparent;
    
}
.card:hover{
  border: 2px rgb(39, 39, 39) solid;
}

.skill-icon{
  height: 3rem;
  
}
.h2{
  align-items: center;
  display: flex;
  justify-content: center;
  height: 8rem;
  padding: 10px 10px;
}


.skill-icons {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.projects h2{
  margin-top: 10rem;
  font-size: 3rem;
  margin-bottom: 4rem;
  text-align: center;
  font-weight: 600;
}
.project-sec{
  display: flex;
  justify-content: center;
  gap: 5rem;
}
.project-sec .cards{
  padding: 0 1rem;
    height: 26rem;
    width: 23rem;
    background-color: #ffffff;
    transition: all 0.3s ease;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0, 0,0.3);
    display: inline-block;
    text-align: center;
    justify-content: space-around;
    border: 2px solid transparent;
}
.cards:hover{
  border: 2px rgb(39, 39, 39) solid;
}
.cards img{
  width: 97%;
  height: 100%;
  object-fit:fill;
  margin-top: 2rem;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  transform: scale(1.0);
}
.cards-img{
  padding: 1rem 0;
  
}
.cards:hover img {
  transform: scale(1.1);
  
}
.cards-info{
  padding: 1rem;
  font-size: 1.3rem;
}
.cards-info p{
  font-size: 0.9rem;
  margin-top: 1.3rem;
  font-weight: 400;
}
.links-icon img{
  height: 1rem;
  width: 1rem;
 
}
.link-icon {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: center;
}
.cards-info h5{
  font-size: 0.9rem;
  font-weight: 400;
  padding: 0.5rem 0;
  margin-left: 5rem;
  color: #807b7b;
  padding: 1rem;
} 

.contact{
 
  justify-content: center;
  align-items: center;
  position: relative;
  height: 50rem;
  width: auto;
  
}
.contact h3{
  margin-top: 8rem;
  font-size: 3rem;
  text-align: center;
  font-weight: 600;
}
.contact h4{
  margin-top: 1rem;
  font-size: 1.5rem;
  margin-bottom: 4rem;
  text-align: center;
  font-weight: 600;
  color: #636363;
}

.contact-container{
  height: 32rem;
  
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  overflow-x: hidden;
  
  
}
.contact-container input{
  width:25rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
  box-sizing: border-box;
  
}
.contact-container textarea{
  width:25rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
  box-sizing: border-box;
  
}
.contact-container textarea{
  height: 8rem;
}
.input-email{
  width: 20rem;
  background-color: #f0f0f0;
  margin-top: 1rem;
  padding: 10px;
}
.contact-name{
  display: flex;
  gap: 1rem;
  
}
.contact-msg{
  display: flex;
  width: 50rem;
}
input[type="text"],
input[type="email"],
textarea {
  border: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

input[type="text"]:hover,
input[type="email"]:hover,
textarea:hover {
  border-bottom: 2px solid #080808;
}
textarea {
  resize: none;
  margin-top: 1rem;
}
.input-name{
  height: 3rem;
  width :120px;
  background-color: #f0f0f0;
  display: flex;
  
}
.submit{
  padding: 1rem 3rem;
  margin:auto;
  color: #fff;
  background-color: #080808;
  border-radius: 3px;
  
}
i{
  color: royalblue;
  padding-left: 0.5rem;
}

.submit:hover{
  background-color:#272727;
  color: #fff;
  cursor: pointer;
}
.footer{
  height: 7rem;
  display: flex;
  justify-content: space-between;
  border-top: #000 2px solid;
  margin-left: 3rem;
  margin-right: 3rem;
  padding: 1rem 0;
  align-items: center;
 
}


.footer h3{
  display: flex;
  padding-right: 2rem;
  font-size: 1.4rem;
  margin-right: 1rem;
  margin-top: 1.5rem;
  color: #141414;
}
.footer-socials{
  width: 50%;
}
.footer-socials img{
   height: 3rem;
}
.footer-icons {
    display: flex;
    gap: 1rem;
    padding: 1rem 3rem;
    margin-left: 2rem;
}
.footer-icons img{
  height: 2.5rem;
  
}
i{
  height: 2rem;
  padding-right: 0.5rem;
  padding-top: 0.3rem;
  color: #636363;
}
.footer-links{
  display: flex;
  gap: 4rem;
  text-decoration: none;
  list-style: none;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-right: 3rem;
  
}


@media (width<880px) {
  .nav{
    display: flex;
    justify-content: space-between;
    padding :2rem 0;
    padding-right: 2rem;
  }  
  .navlinks{
      display: none;
    }
    html{
      font-size: 80%;
      width: 100%;
    }
    .profile-pic img{
      height: 28rem;
      margin-top: 2rem;
      
    }
    .profile{
      flex-wrap: wrap;
      justify-content: center;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      
    }
    .profile-p3{
      margin: auto;
    }
    .skills{
      flex-wrap: wrap;
      display: flex;
      justify-content: center;
    }
    .project-sec{
      flex-wrap: wrap;
    }
    .contact-container{
      flex-wrap: wrap;
      
    }
    .contact-text{
      padding: 0 0.35rem;
    }
    .footer{
      flex-wrap: wrap;
      display: flex;
      
    }
    .footer-links{
      display: none;
    }
    .contact-name{
      flex-wrap: wrap;
      justify-content: center;
    }
    .contact-email{
      
      display: flex;
      justify-content: center;
    }
    .contact-msg{
      
      display: flex;
      justify-content: center;
    }
}

@media (width<400px) {
  .nav{
    display: flex;
    justify-content: space-between;
    padding :2rem 0;
    padding-right: 2rem;
  }  
  .navlinks{
      display: none;
    }
    html{
      font-size: 60%;
      width: 100%;
    }
    .profile-pic img{
      height: 28rem;
      margin-top: 2rem;
      
    }
    .profile{
      flex-wrap: wrap;
      justify-content: center;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      
    }
    .profile-p3{
      margin: auto;
    }
    .skills{
      flex-wrap: wrap;
      display: flex;
      justify-content: center;
    }
    .project-sec{
      flex-wrap: wrap;
    }
    .contact-container{
      flex-wrap: wrap;
      
    }
    .contact-text{
      padding: 0 0.35rem;
    }
    .footer{
      flex-wrap: wrap;
      display: flex;
      
    }
    .footer-links{
      display: none;
    }
    .contact-name{
      flex-wrap: wrap;
      justify-content: center;
    }
    .contact-email{
      
      display: flex;
      justify-content: center;
    }
    .contact-msg{
      
      display: flex;
      justify-content: center;
    }
    .footer h3{
      display: flex;
      padding: 0 1rem;
      font-size: 1.4rem;
      margin-right: 2rem;
      margin-top: 1.5rem;
      color: #141414;
      justify-content: left;
    }
}

